header {
    background-color: #290b28;
    width: 100%;
}

.header_container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

.logo_div {
    display: flex;
    align-items: center;
}

.logo_div h1 {
    color: #F1ACEE;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-left: 8px;
}

.search_div input {
    width: 544px;
    padding-left: 16px;
    font-size: 16px;
    background-color: white;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    border: 0;
}

.search_div button {
    color: white;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    padding: 16px;
    font-size: 16px;
    background-color: #01ACA9;
    border: 0;
}

.fa-magnifying-glass {
    color: white;
    font-size: 16px;
}

.login_and_shopping {
    display: flex;
    gap: 8px;
    align-items: center;
}

.login_and_shopping a {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    padding: 8px 16px;
    border: 1px solid #F30AEA;
    border-radius: 8px;
}

.fa-cart-shopping {
    color: white;
    font-size: 16px;
    padding: 13px;
    background-color: #F30AEA;
    border-radius: 8px;
}

.header_menu {
    width: 100%;
    background-color: #01ACA9;
}

.header_menu nav {
    max-width: 1440px;
    width: 100%;
    padding: 15px 0;
}

.header_menu ul {
    display: flex;
    gap: 96px;
    align-items: center;
    justify-content: center;
}

.no_active,
.active {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.active {
    border-bottom: 2px solid white;
}

.body_container {
    padding: 64px 20%;
    background-image: url("../images/cover\ image.png");
    object-fit: cover;
}

.form2 {
    background-color: rgba(28, 19, 37, 0.80);
    display: block;
    padding: 48px 20%;
    border: 1px solid #B052B5;
    border-radius: 20px;
}

.form2 label {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.form2 h1 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
    word-wrap: break-word;
    margin-bottom: 80px;
}

.username_email_container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.username_email_container input {
    width: 50%;
    height: 48px;
    background-color: transparent;
    border: 1px solid #B052B5;
    color: rgba(158.31, 140.77, 157.61, 0.71);
    border-radius: 8px;
    padding: 11px 22px;
    font-size: 16px;
    font-family: poppins;
}

#question {
    width: 100%;
    height: 48px;
    border: 1px solid #B052B5;
    border-radius: 8px;
    background-color: transparent;
    margin-bottom: 24px;
}

textarea {
    width: 100%;
    height: 112px;
    background-color: transparent;
    border: 1px solid #B052B5;
    color: rgba(158.31, 140.77, 157.61, 0.71);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    padding: 11px 22px;
}

#radio_text {
    color: #B052B5;
}

#radio_form2 {
    appearance: none;
    accent-color: #B052B5;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #B052B5;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#radio_form2:checked {
    accent-color: #B052B5;
}

#sendbutton {
    width: 100%;
    padding: 19px 0;
    text-align: center;
    background-color: #F30AEA;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 26px;
    word-wrap: break-word;
    border: 0px;
    border-radius: 16px;
    margin-top: 16px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 48px 72px;
    background-color: #01ACA9;
}

footer h2 {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 26px;
    word-wrap: break-word;
    margin-bottom: 16px;
}

footer i {
    font-size: 24px;
    color:#F5E0F5;
    margin-right: 24px;
}

.footer_section_2 i {
    margin-right:8px;
}

.footer_section_2 a {
    color: white;
font-size: 16px;
font-family: Poppins;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
}

footer p {
    color: #F5E0F5;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word;
}