header {
    background-color: #290b28;
    width: 100%;
}

.header_container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

.logo_div {
    display: flex;
    align-items: center;
}

.logo_div h1 {
    color: #F1ACEE;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-left: 8px;
}

.search_div input {
    width: 544px;
    padding-left: 16px;
    font-size: 16px;
    background-color: white;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    border: 0;
}

.search_div button {
    color: white;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    padding: 16px;
    font-size: 16px;
    background-color: #01ACA9;
    border: 0;
}

.fa-magnifying-glass {
    color: white;
    font-size: 16px;
}

.login_and_shopping {
    display: flex;
    gap: 8px;
    align-items: center;
}

.login_and_shopping a {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    padding:8px 16px;
    border: 1px solid #F30AEA;
    border-radius: 8px;
}

.fa-cart-shopping {
    color: white;
    font-size: 16px;
    padding:13px;
    background-color: #F30AEA;
    border-radius: 8px;
}

.header_menu {
    width: 100%;
    background-color: #01ACA9;
}

.header_menu nav {
    max-width: 1440px;
    width: 100%;
    padding:15px 0;
}

.header_menu ul {
    display: flex;
    gap:96px;
    align-items: center;
    justify-content: center;
}

.no_active, .active {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.active {
    border-bottom: 2px solid white;
}